In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
%matplotlib inline

Bad key "text.kerning_factor" on line 4 in
C:\Users\Rajit_Sanghvi\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

In [3]:
df = pd.read_csv("AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
columns = ['neighbourhood_group', 'room_type', 'latitude', 'longitude', 'price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']

df = df[columns]
df.head()

,neighbourhood_group,room_type,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Brooklyn,Private room,40.64749,-73.97237,149,1,9,0.21,6,365
1,Manhattan,Entire home/apt,40.75362,-73.98377,225,1,45,0.38,2,355
2,Manhattan,Private room,40.80902,-73.94190,150,3,0,NaN,1,365
3,Brooklyn,Entire home/apt,40.68514,-73.95976,89,1,270,4.64,1,194
4,Manhattan,Entire home/apt,40.79851,-73.94399,80,10,9,0.10,1,0

In [5]:
df.describe()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

## Question 1

What is the most frequent observation (mode) for the column 'neighbourhood_group'?

In [7]:
df['neighbourhood_group'].value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [56]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,48885,48886,48887,48888,48889,48890,48891,48892,48893,48894
neighbourhood_group,Brooklyn,Manhattan,Manhattan,Brooklyn,Manhattan,Manhattan,Brooklyn,Manhattan,Manhattan,Manhattan,...,Manhattan,Manhattan,Brooklyn,Manhattan,Queens,Brooklyn,Brooklyn,Manhattan,Manhattan,Manhattan
room_type,Private room,Entire home/apt,Private room,Entire home/apt,Entire home/apt,Entire home/apt,Private room,Private room,Private room,Entire home/apt,...,Private room,Entire home/apt,Entire home/apt,Private room,Private room,Private room,Private room,Entire home/apt,Shared room,Private room
latitude,40.6475,40.7536,40.809,40.6851,40.7985,40.7477,40.6869,40.7649,40.8018,40.7134,...,40.7963,40.7556,40.7123,40.7639,40.6914,40.6785,40.7018,40.8147,40.7575,40.764
longitude,-73.9724,-73.9838,-73.9419,-73.9598,-73.944,-73.975,-73.956,-73.9849,-73.9672,-73.9904,...,-73.936,-73.9672,-73.9422,-73.9918,-73.8084,-73.95,-73.9332,-73.9487,-73.9911,-73.9893
price,149,225,150,89,80,200,60,79,79,150,...,75,200,170,125,65,70,40,115,55,90
minimum_nights,1,1,3,1,10,3,45,2,2,1,...,2,6,1,4,1,2,4,10,1,7
number_of_reviews,9,45,0,270,9,74,49,430,118,160,...,0,0,0,0,0,0,0,0,0,0
reviews_per_month,0.21,0.38,NaN,4.64,0.1,0.59,0.4,3.47,0.99,1.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
calculated_host_listings_count,6,2,1,1,1,1,1,1,1,4,...,2,1,3,1,2,2,2,1,6,1
availability_365,365,355,365,194,0,129,0,220,0,188,...,353,176,365,31,163,9,36,27,2,23

In [57]:
df['above_average'] = (df.price >= 152).astype(int)

In [58]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,48885,48886,48887,48888,48889,48890,48891,48892,48893,48894
neighbourhood_group,Brooklyn,Manhattan,Manhattan,Brooklyn,Manhattan,Manhattan,Brooklyn,Manhattan,Manhattan,Manhattan,...,Manhattan,Manhattan,Brooklyn,Manhattan,Queens,Brooklyn,Brooklyn,Manhattan,Manhattan,Manhattan
room_type,Private room,Entire home/apt,Private room,Entire home/apt,Entire home/apt,Entire home/apt,Private room,Private room,Private room,Entire home/apt,...,Private room,Entire home/apt,Entire home/apt,Private room,Private room,Private room,Private room,Entire home/apt,Shared room,Private room
latitude,40.6475,40.7536,40.809,40.6851,40.7985,40.7477,40.6869,40.7649,40.8018,40.7134,...,40.7963,40.7556,40.7123,40.7639,40.6914,40.6785,40.7018,40.8147,40.7575,40.764
longitude,-73.9724,-73.9838,-73.9419,-73.9598,-73.944,-73.975,-73.956,-73.9849,-73.9672,-73.9904,...,-73.936,-73.9672,-73.9422,-73.9918,-73.8084,-73.95,-73.9332,-73.9487,-73.9911,-73.9893
price,149,225,150,89,80,200,60,79,79,150,...,75,200,170,125,65,70,40,115,55,90
minimum_nights,1,1,3,1,10,3,45,2,2,1,...,2,6,1,4,1,2,4,10,1,7
number_of_reviews,9,45,0,270,9,74,49,430,118,160,...,0,0,0,0,0,0,0,0,0,0
reviews_per_month,0.21,0.38,NaN,4.64,0.1,0.59,0.4,3.47,0.99,1.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
calculated_host_listings_count,6,2,1,1,1,1,1,1,1,4,...,2,1,3,1,2,2,2,1,6,1
availability_365,365,355,365,194,0,129,0,220,0,188,...,353,176,365,31,163,9,36,27,2,23
above_average,0,1,0,0,0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0

most frequent observation (mode) for the column 'neighbourhood_group' is Manhattan

## Question 2

In [61]:
from sklearn.model_selection import train_test_split

df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df, test_size=0.33, random_state=42)

y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

del df_train['price']
del df_val['price']
del df_test['price']
del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

In [62]:
df_train.isnull().sum()

neighbourhood_group                  0
room_type                            0
latitude                             0
longitude                            0
minimum_nights                       0
number_of_reviews                    0
reviews_per_month                 6772
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [63]:
df_train = df_train.fillna(0)
df_train.isnull().sum()

neighbourhood_group               0
room_type                         0
latitude                          0
longitude                         0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [64]:
df_val.isnull().sum()
df_val = df_val.fillna(0)
df_val.isnull().sum()

neighbourhood_group               0
room_type                         0
latitude                          0
longitude                         0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [65]:
df_train.shape, df_val.shape

((32759, 9), (16136, 9))

In [66]:
df_train.corr()

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
latitude,1.000000,0.083936,0.028724,-0.012487,-0.014023,0.019925,-0.006484
longitude,0.083936,1.000000,-0.063314,0.057784,0.130720,-0.115949,0.083005
minimum_nights,0.028724,-0.063314,1.000000,-0.082468,-0.124514,0.122925,0.140148
number_of_reviews,-0.012487,0.057784,-0.082468,1.000000,0.580804,-0.073028,0.174646
reviews_per_month,-0.014023,0.130720,-0.124514,0.580804,1.000000,-0.048033,0.164708
calculated_host_listings_count,0.019925,-0.115949,0.122925,-0.073028,-0.048033,1.000000,0.223076
availability_365,-0.006484,0.083005,0.140148,0.174646,0.164708,0.223076,1.000000

calculated_host_listings_count and availability_365 has the highest correlation

## Question 3

In [67]:
categorical = ['neighbourhood_group', 'room_type']

In [68]:
df_train.dtypes

neighbourhood_group                object
room_type                          object
latitude                          float64
longitude                         float64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [69]:
from sklearn.metrics import mutual_info_score
mutual_info_score(y_train, df_train.neighbourhood_group).round(2)

0.05

In [70]:
from sklearn.metrics import mutual_info_score
mutual_info_score(y_train, df_train.room_type).round(2)

0.14

Room_type has bigger score

## Question 4

In [71]:
df_train.dtypes.index

Index(['neighbourhood_group', 'room_type', 'latitude', 'longitude',
       'minimum_nights', 'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

In [72]:
numerical = ['latitude', 'longitude',
       'minimum_nights', 'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365']

In [73]:
from sklearn.feature_extraction import DictVectorizer

In [74]:
train_dicts = df_train[categorical + numerical].to_dict(orient='records')

In [75]:
dv = DictVectorizer()
dv.fit(train_dicts)
dv.get_feature_names()

['availability_365',
 'calculated_host_listings_count',
 'latitude',
 'longitude',
 'minimum_nights',
 'neighbourhood_group=Bronx',
 'neighbourhood_group=Brooklyn',
 'neighbourhood_group=Manhattan',
 'neighbourhood_group=Queens',
 'neighbourhood_group=Staten Island',
 'number_of_reviews',
 'reviews_per_month',
 'room_type=Entire home/apt',
 'room_type=Private room',
 'room_type=Shared room']

In [76]:
X_train = dv.transform(train_dicts)

In [77]:
X_train.shape

(32759, 15)

In [78]:
val_dicts = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dicts)
X_val.shape

(16136, 15)

In [81]:
y_train.shape, y_val.shape

((32759,), (16136,))

In [82]:
from sklearn.linear_model import LogisticRegression

In [90]:
model = LogisticRegression(solver='liblinear', C=1.0, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(random_state=42, solver='liblinear')

In [91]:
y_predict = model.predict(X_val)
y_predict

array([1, 0, 0, ..., 0, 0, 0])

In [92]:
accuracy = (y_val == y_predict).mean() * 100
accuracy

79.34432325235498

Accuracy is 0.79

## Question 5

In [94]:
w = model.coef_[0].round(3)
w

array([ 3.000e-03,  4.000e-03, -6.447e+00, -3.513e+00, -1.200e-02,
        2.090e-01,  9.300e-02,  1.582e+00,  1.200e-02, -1.989e+00,
       -3.000e-03, -3.400e-02,  1.947e+00, -8.200e-01, -1.221e+00])

In [96]:
w0 = model.intercept_[0]
w0

-0.09345742442445536

In [99]:
dv.get_feature_names()

['availability_365',
 'calculated_host_listings_count',
 'latitude',
 'longitude',
 'minimum_nights',
 'neighbourhood_group=Bronx',
 'neighbourhood_group=Brooklyn',
 'neighbourhood_group=Manhattan',
 'neighbourhood_group=Queens',
 'neighbourhood_group=Staten Island',
 'number_of_reviews',
 'reviews_per_month',
 'room_type=Entire home/apt',
 'room_type=Private room',
 'room_type=Shared room']

In [100]:
list(zip(dv.get_feature_names(),  model.coef_[0].round(3)))

[('availability_365', 0.003),
 ('calculated_host_listings_count', 0.004),
 ('latitude', -6.447),
 ('longitude', -3.513),
 ('minimum_nights', -0.012),
 ('neighbourhood_group=Bronx', 0.209),
 ('neighbourhood_group=Brooklyn', 0.093),
 ('neighbourhood_group=Manhattan', 1.582),
 ('neighbourhood_group=Queens', 0.012),
 ('neighbourhood_group=Staten Island', -1.989),
 ('number_of_reviews', -0.003),
 ('reviews_per_month', -0.034),
 ('room_type=Entire home/apt', 1.947),
 ('room_type=Private room', -0.82),
 ('room_type=Shared room', -1.221)]

In [101]:
numerical = ['latitude', 'longitude',
       'minimum_nights', 'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365']

categorical = ['neighbourhood_group', 'room_type']

In [102]:
train_dicts = df_train[categorical + numerical].to_dict(orient='records')
val_dicts = df_val[categorical + numerical].to_dict(orient='records')

dv = DictVectorizer()
dv.fit(train_dicts)

X_train = dv.transform(train_dicts)
X_val = dv.transform(val_dicts)

model = LogisticRegression(solver='liblinear', C=1.0, random_state=42)
model.fit(X_train, y_train)

y_predict = model.predict(X_val)

original_accuracy = (y_val == y_predict).mean() * 100
original_accuracy

79.34432325235498

In [106]:
categorical + numerical

['neighbourhood_group',
 'room_type',
 'latitude',
 'longitude',
 'minimum_nights',
 'number_of_reviews',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

In [112]:
features = ['latitude', 'longitude',
       'minimum_nights', 'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365', 'neighbourhood_group', 'room_type']
    
for feature in features:
    
    df_train_model = df_train.copy()
    df_val_model = df_val.copy()
    
    del df_train_model[feature]
    del df_val_model[feature]
    
    combined_features = features.copy()
    combined_features.remove(feature)
    
    train_dicts = df_train_model[combined_features].to_dict(orient='records')
    val_dicts = df_val[combined_features].to_dict(orient='records')

    dv = DictVectorizer()
    dv.fit(train_dicts)

    X_train = dv.transform(train_dicts)
    X_val = dv.transform(val_dicts)

    model = LogisticRegression(solver='liblinear', C=1.0, random_state=42)
    model.fit(X_train, y_train)

    y_predict = model.predict(X_val)

    modal_accuracy = (y_val == y_predict).mean() * 100
    distance = original_accuracy - modal_accuracy
    
    print(feature + ': ' + str(distance))

latitude: 0.2107089737233423
longitude: 0.2107089737233423
minimum_nights: -0.1673277144273726
number_of_reviews: 0.06197322756568724
reviews_per_month: 0.0
calculated_host_listings_count: 0.06197322756568724
availability_365: 0.8552305404065379
neighbourhood_group: 4.4930589985126375
room_type: 5.664352999504217

In [103]:
features = ['neighbourhood_group', 'room_type', 'number_of_reviews', 'reviews_per_month']

for feature in features:
    
    df_train_model = df_train.copy()
    df_val_model = df_val.copy()
    
    del df_train_model[feature]
    del df_val_model[feature]
    
    combined_features = categorical + numerical
    combined_features.remove(feature)
    
    train_dicts = df_train_model[combined_features].to_dict(orient='records')
    val_dicts = df_val[combined_features].to_dict(orient='records')

    dv = DictVectorizer()
    dv.fit(train_dicts)

    X_train = dv.transform(train_dicts)
    X_val = dv.transform(val_dicts)

    model = LogisticRegression(solver='liblinear', C=1.0, random_state=42)
    model.fit(X_train, y_train)

    y_predict = model.predict(X_val)

    modal_accuracy = (y_val == y_predict).mean() * 100
    distance = original_accuracy - modal_accuracy
    
    print(feature + ': ' + str(distance))

neighbourhood_group: 4.4930589985126375
room_type: 5.664352999504217
number_of_reviews: 0.06197322756568724
reviews_per_month: 0.0

review_per_month has the smallest difference.

# Question 6

In [113]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,48885,48886,48887,48888,48889,48890,48891,48892,48893,48894
neighbourhood_group,Brooklyn,Manhattan,Manhattan,Brooklyn,Manhattan,Manhattan,Brooklyn,Manhattan,Manhattan,Manhattan,...,Manhattan,Manhattan,Brooklyn,Manhattan,Queens,Brooklyn,Brooklyn,Manhattan,Manhattan,Manhattan
room_type,Private room,Entire home/apt,Private room,Entire home/apt,Entire home/apt,Entire home/apt,Private room,Private room,Private room,Entire home/apt,...,Private room,Entire home/apt,Entire home/apt,Private room,Private room,Private room,Private room,Entire home/apt,Shared room,Private room
latitude,40.6475,40.7536,40.809,40.6851,40.7985,40.7477,40.6869,40.7649,40.8018,40.7134,...,40.7963,40.7556,40.7123,40.7639,40.6914,40.6785,40.7018,40.8147,40.7575,40.764
longitude,-73.9724,-73.9838,-73.9419,-73.9598,-73.944,-73.975,-73.956,-73.9849,-73.9672,-73.9904,...,-73.936,-73.9672,-73.9422,-73.9918,-73.8084,-73.95,-73.9332,-73.9487,-73.9911,-73.9893
price,149,225,150,89,80,200,60,79,79,150,...,75,200,170,125,65,70,40,115,55,90
minimum_nights,1,1,3,1,10,3,45,2,2,1,...,2,6,1,4,1,2,4,10,1,7
number_of_reviews,9,45,0,270,9,74,49,430,118,160,...,0,0,0,0,0,0,0,0,0,0
reviews_per_month,0.21,0.38,NaN,4.64,0.1,0.59,0.4,3.47,0.99,1.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
calculated_host_listings_count,6,2,1,1,1,1,1,1,1,4,...,2,1,3,1,2,2,2,1,6,1
availability_365,365,355,365,194,0,129,0,220,0,188,...,353,176,365,31,163,9,36,27,2,23
above_average,0,1,0,0,0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0

In [114]:
del df['above_average']

In [116]:
df['price'] = np.log1p(df['price'])

In [117]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,48885,48886,48887,48888,48889,48890,48891,48892,48893,48894
neighbourhood_group,Brooklyn,Manhattan,Manhattan,Brooklyn,Manhattan,Manhattan,Brooklyn,Manhattan,Manhattan,Manhattan,...,Manhattan,Manhattan,Brooklyn,Manhattan,Queens,Brooklyn,Brooklyn,Manhattan,Manhattan,Manhattan
room_type,Private room,Entire home/apt,Private room,Entire home/apt,Entire home/apt,Entire home/apt,Private room,Private room,Private room,Entire home/apt,...,Private room,Entire home/apt,Entire home/apt,Private room,Private room,Private room,Private room,Entire home/apt,Shared room,Private room
latitude,40.6475,40.7536,40.809,40.6851,40.7985,40.7477,40.6869,40.7649,40.8018,40.7134,...,40.7963,40.7556,40.7123,40.7639,40.6914,40.6785,40.7018,40.8147,40.7575,40.764
longitude,-73.9724,-73.9838,-73.9419,-73.9598,-73.944,-73.975,-73.956,-73.9849,-73.9672,-73.9904,...,-73.936,-73.9672,-73.9422,-73.9918,-73.8084,-73.95,-73.9332,-73.9487,-73.9911,-73.9893
price,5.01064,5.42053,5.01728,4.49981,4.39445,5.3033,4.11087,4.38203,4.38203,5.01728,...,4.33073,5.3033,5.14166,4.83628,4.18965,4.26268,3.71357,4.75359,4.02535,4.51086
minimum_nights,1,1,3,1,10,3,45,2,2,1,...,2,6,1,4,1,2,4,10,1,7
number_of_reviews,9,45,0,270,9,74,49,430,118,160,...,0,0,0,0,0,0,0,0,0,0
reviews_per_month,0.21,0.38,NaN,4.64,0.1,0.59,0.4,3.47,0.99,1.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
calculated_host_listings_count,6,2,1,1,1,1,1,1,1,4,...,2,1,3,1,2,2,2,1,6,1
availability_365,365,355,365,194,0,129,0,220,0,188,...,353,176,365,31,163,9,36,27,2,23

In [118]:
from sklearn.model_selection import train_test_split

df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df, test_size=0.33, random_state=42)

y_train = df_train.price.values
y_val = df_val.price.values
y_test = df_test.price.values

del df_train['price']
del df_val['price']
del df_test['price']

In [124]:
df_train = df_train.fillna(0)
df_val = df_val.fillna(0)
df_test = df_test.fillna(0)

In [125]:
def RMSE(y_pred, y_train):
    
    m = len(y_train)
    
    diff = y_pred - y_train
    squared_error = np.power(diff, 2)
    squared_error_sum = squared_error.sum()
    mean_square_error = (1/m) * squared_error_sum
    
    return np.sqrt(mean_square_error)

In [127]:
from sklearn.linear_model import Ridge

alphas = [0, 0.01, 0.1, 1, 10]

for i in alphas:

    train_dicts = df_train[categorical + numerical].to_dict(orient='records')
    val_dicts = df_val[categorical + numerical].to_dict(orient='records')

    dv = DictVectorizer()
    dv.fit(train_dicts)

    X_train = dv.transform(train_dicts)
    X_val = dv.transform(val_dicts)

    model = Ridge(alpha=i)
    model.fit(X_train, y_train)

    y_predict = model.predict(X_val)

    rmse = RMSE(y_predict, y_val).round(3)
    
    print('Alpha ' + str(i) + ': ' + 'RMSE = ' + str(rmse))

Alpha 0: RMSE = 0.498
Alpha 0.01: RMSE = 0.498
Alpha 0.1: RMSE = 0.498
Alpha 1: RMSE = 0.498
Alpha 10: RMSE = 0.498

Alpha 0 is the answer!